[Unit]
Description=Git Auto Pull Service
After=network.target

[Service]
Type=simple
User=Username
WorkingDirectory=/home/username/Code/gitauto
ExecStart=/usr/bin/python3 /home/username/Code/gitauto/git_auto_pull.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
